@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}
body{
    text-align: center;
    background:linear-gradient(135deg,#71b7e6,#9b59b6);
    margin:auto;
}
.container{
    max-width:700px;
    width:100%;
    background:#fff;
    padding:25px 30px;
    border-radius:5px;
}