/* .container{
    max-width:500px !important;
    width:100%;
    background:#fff;
    opacity:0.5;
    padding:45px 400px !important;
    padding-left:100px;
    border-radius:5px;
    margin: 60px 0;
} */
*{
    box-sizing: border-box;
}
body{
    display:flex;
    justify-content: center;
    align-items:center;
    /* justify-content: space-between; */
}
.full-page{
    height:100%;
    width:100%;
    background-image:url('/uploads/bg.png');
    background-position:center;
    background-size:cover;
    /* position:absolute; */
    padding: 50px 0;
}
.form-wrapper{
    width:40%;
    background:rgba(255,255,255,0.3);
    margin:0 auto;
    /* margin:0px 40px; */
    padding:10px 10px;
    display:inline-block;
    border: 1px solid #000;
    /* text-align:center; */
}
.form-wrapper form{
    text-align: center;
}
.form-wrapper form .form-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    justify-content: flex-end;
}
.form-wrapper form label {
    width: 32%;
    font-size: 14px;
    text-align: left;
}
.form-wrapper form input {
    width: 68%;
    float: right;
    background: #fff;
    padding: 5px;
    border: 1px solid #000;
}
#outerschool{
    font-weight:10px;
    color:dark black;
    text-align: center;
}
/* .accordion{
    max-width:800px;
}
.accordion .contentBx{
    position:relative;
    margin:10px 20px;
}
.accordion .contentBx .label{
    position:relative;
    padding:10px;
    background:#2694af;
} */